window {
  background: none;
}

:root {
  --lightness-adjust: min(l, 0.5);
  --bg-lightness: l;

  --base-accent: var(--blue-3);
}

* {
  --accent-color: oklab(from var(--accent-bg-color) var(--lightness-adjust) a b);
  --accent-bg-color: oklab(from var(--base-accent) var(--bg-lightness) a b);
}

.dark {
  --window-bg-color: #242424;
  --window-fg-color: #ffffff;

  --view-bg-color: #1e1e1e;
  --view-fg-color: #ffffff;

  --headerbar-bg-color: #303030;
  --headerbar-fg-color: #ffffff;
  --headerbar-border-color: #ffffff;
  --headerbar-backdrop-color: #242424;
  --headerbar-shade-color: rgb(0 0 0 / 36%);
  --headerbar-darker-shade-color: rgb(0 0 0 / 90%);

  --sidebar-bg-color: #303030;
  --sidebar-fg-color: #ffffff;
  --sidebar-backdrop-color: #2a2a2a;
  --sidebar-border-color: rgb(0 0 0 / 36%);
  --sidebar-shade-color: rgb(0 0 0 / 25%);

  --secondary-sidebar-bg-color: #2a2a2a;
  --secondary-sidebar-fg-color: #ffffff;
  --secondary-sidebar-backdrop-color: #272727;
  --secondary-sidebar-border-color: rgb(0 0 0 / 36%);
  --secondary-sidebar-shade-color: rgb(0 0 0 / 25%);

  --card-bg-color: rgb(255 255 255 / 8%);
  --card-fg-color: #ffffff;
  --card-shade-color: rgb(0 0 0 / 36%);

  --thumbnail-bg-color: #383838;
  --thumbnail-fg-color: #ffffff;

  --dialog-bg-color: #383838;
  --dialog-fg-color: #ffffff;

  --popover-bg-color: #383838;
  --popover-fg-color: #ffffff;
  --popover-shade-color: rgb(0 0 0 / 25%);

  --shade-color: rgb(0 0 0 / 25%);
  --scrollbar-outline-color: rgb(0 0 0 / 50%);

  --lightness-adjust: max(l, 0.85);
}

.blue {
  --base-accent: var(--blue-3);
}

.teal {
  --base-accent: #4cadc5;
}

.green {
  --base-accent: #3a9464;
}

.yellow {
  --base-accent: #e1a100;
}

.orange {
  --base-accent: #ed5b00;
}

.red {
  --base-accent: #e62d42;
}

.pink {
  --base-accent: #d56199;
}

.purple {
  --base-accent: var(--purple-3);
}

.slate {
  --base-accent: #6f8396;
}
